

body {
    background-color: #ffffff;
    padding: 0px;
    margin: 0px;
     text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.brand-intro-head{
    color: #325832;
    font-weight: 600 !important;
}


.cardList {
    background-color: #f3f3f3;
    box-shadow: 10px 10px 15px 5px rgba(136, 136, 136, 0.2);
}

.cardHeading {
    font-size: 23px;
    font-weight: 500;
}

.text-fit-width {
    width: fit-content;
}

.category-badge-text-size {
    font-size: 13px;
    margin-left: 8px;
}

.incard-content-highlight {
    background-color: white;
    box-shadow: 5px 5px 6px rgba(128, 127, 127, 0.2);
    padding: 10px;
    border-radius: 10px;
}

/* .example-item{
    padding-bottom: 11px;
} */

.section-title{
    width: fit-content;
    border-bottom: 5px;
}

.prompt-element-example{
/*     font-weight: bold; */
}

.view-prompt-formula-cta {
  display: inline-block;
  background-color: #165abb;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 50px; /* Rounded-pill shape */
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

